body{background-color: #FFA900;}


.nav-link{font-size: 1rem; font-family: "Open Sans", sans-serif;color:#52006A;font-weight: bold;line-height: 1.5}

.nav-item{padding:1rem;}

h1 {color:#52006A;text-align: center;position: absolute;}
h2 {text-align: center;color:#52006A;padding-top: 200px;}
h3{margin-left: 50px;margin-right: 50px;text-align: center;color:#52006A;font-size: 1.5rem;padding-top: 100px;}

hr {border:1px dotted #CD113B;border-style: dotted; color :#CD113B; background-color:#CD113B;}


.poza1 {width: 50%;border-radius: 300%;margin: 200px 300px 20px 650px;}
.home-page-pic{max-width: 100%; height: auto;padding: 15%;}


.first-page{margin-top: 10%;}

.container {margin-top: 2rem;}


.paragraf1 {text-align:right; font-family: "Merriweather";height:190px;margin-top: 30px;margin-bottom: 20px;position:relative; line-height: 2;margin-right: 30px;color:#52006A;font-size: 20px;}

.paragraf2 {text-align:left; font-family: "Merriweather";height:190px;margin-top: 100px;line-height: 2;margin-left: 30px;color:#52006A;font-size: 20px;}

.poza2 {width: 15%;border-radius: 50%; float:left;margin-left: 30px;}
.poza3 {width: 15%;border-radius: 50%; float:right;margin-right: 30px;}

.navbar{padding:0;}


.nav{background-color:#CD113B;margin:0;padding: 0;width: 100%;}


.servicii-descriere {padding-top: 150px;}
.pozax{position: absolute;image-resolution: 100%;}
.card-img-top {width: 90px;height: 90px;}




.card-text {font-family: "Merriweather"; line-height: 1.5; color:#52006A;font-size: 1rem;}
.card {background-color: #FFA900;border: none;font-size: 1rem;}

.column {
  float: left;
  width: 50%;
  color: #52006A;
  font-size: 1.5rem;
  margin-top: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
table, th, td {
  border: 3px solid #CD113B;
  border-collapse: collapse;
  color:#52006A;
  margin-top: 80px;border-style:double;font-size: 1.2rem;padding: 20px;
}
.tabela-preturi {margin-left: 50px;margin-right: 50px;}
.container-fluid{padding: 0;}


#more {display: none;}


#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}




#myBtn {
	box-shadow:inset 0px 1px 0px 0px #cd113a;
	background:linear-gradient(to bottom, #cd113a 5%, #51006a 100%);
	background-color:#cd113a;
	border-radius:11px;
	border:1px solid #cd113a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#myBtn:hover {
	background:linear-gradient(to bottom, #51006a 5%, #cd113a 100%);
	background-color:#51006a;
}
#myBtn:active {
	position:relative;
	top:1px;
}


#myBtn2 {
	box-shadow:inset 0px 1px 0px 0px #cd113a;
	background:linear-gradient(to bottom, #cd113a 5%, #51006a 100%);
	background-color:#cd113a;
	border-radius:11px;
	border:1px solid #cd113a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#myBtn2:hover {
	background:linear-gradient(to bottom, #51006a 5%, #cd113a 100%);
	background-color:#51006a;
}
#myBtn2:active {
	position:relative;
	top:1px;
}


#myBtn3 {
	box-shadow:inset 0px 1px 0px 0px #cd113a;
	background:linear-gradient(to bottom, #cd113a 5%, #51006a 100%);
	background-color:#cd113a;
	border-radius:11px;
	border:1px solid #cd113a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#myBtn3:hover {
	background:linear-gradient(to bottom, #51006a 5%, #cd113a 100%);
	background-color:#51006a;
}
#myBtn3:active {
	position:relative;
	top:1px;
}



#myBtn4 {
	box-shadow:inset 0px 1px 0px 0px #cd113a;
	background:linear-gradient(to bottom, #cd113a 5%, #51006a 100%);
	background-color:#cd113a;
	border-radius:11px;
	border:1px solid #cd113a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#myBtn4:hover {
	background:linear-gradient(to bottom, #51006a 5%, #cd113a 100%);
	background-color:#51006a;
}
#myBtn4:active {
	position:relative;
	top:1px;
}



#myBtn5 {
	box-shadow:inset 0px 1px 0px 0px #cd113a;
	background:linear-gradient(to bottom, #cd113a 5%, #51006a 100%);
	background-color:#cd113a;
	border-radius:11px;
	border:1px solid #cd113a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#myBtn5:hover {
	background:linear-gradient(to bottom, #51006a 5%, #cd113a 100%);
	background-color:#51006a;
}
#myBtn5:active {
	position:relative;
	top:1px;
}

.home-page {background-color:#FFA900; }
.container-servicii {padding-bottom: 3%;display:inline-block;}
.first-description {padding-bottom: 3%;display:inline-block;}
.second-description {padding-bottom: 3%;display:inline-block;}
